{% extends 'base.html' %}

{% block content %}
    <div class="book">
        {% if book.author %}
            <div class="author">
                <p>Author: {{ book.author }}</p>
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'book_edit' pk=book.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>

        <h2 style="color: #444;">{{ book.title }}</h2>
        <h6><a href="">isbn: {{ book.isbn }}</a></h6>
        <p>{{ book.text|linebreaksbr }}</p>
    </div>
{% endblock %}