{% extends 'base.html' %}

{% block content %}
    {% if user.is_superuser %}
        <a href="{% url 'book_new' %}">Add<span class="glyphicon glyphicon-plus"></span></a>
        <br><br>
    {% endif %}
    <form action = "{% url 'rentedbooks' %}">
        <input type="submit" class="btn btn-secondary" value="Rent History"/>
    </form> <br>
    {% for book in books %}
        <div class="book">
            <div class="author">
                <p><b>Author:</b> {{ book.author }}</p>
                <p><b>Title:</b> <a href="{% url 'books_detail' pk=book.pk %}">{{ book.title }}</a></p>
            </div>
            <p><b>ISBN:</b> {{ book.isbn }}</p>
            <p>{{ book.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}
